:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --Black: black;
  --Grey: grey;
  --Dgrey: rgb(72, 72, 72);
  --Lgray: lightgrey;
  --White: white;
  --Blue: blue;
  --Dblue: darkblue;



}
body{
  background-color: var(--Dgrey);
  text-align: justify;
}

header{
  background-color: var(--Black);
  color: var(--White);
  text-align: center;
  padding-top: 5px;
}

  
  
     ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: var(--Dblue);
    }

      ul li {
        float: left;

      }
        ul li a{
          display: block;
          color: var(--White);
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        ul li a:hover{
            background-color: #111;
          }
        
  
 



main{
  background-color: var(--Lgray);
  text-align: center;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}
  

  figcaption{
    padding-top: 15px;
    /* padding-left: 20px;
    padding-right: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    position: relative;
  
   }
  
   .image{
    display: block;
    border-radius: 50%;
    /* margin-left: auto;
    margin-right: auto; */
    box-shadow: 0px 10px 20px var(--Black);
   }
   
   
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
    }
   
    .container:hover .overlay {
      opacity: 1;
    }
  
    .image_2{
      display: block;
    border-radius: 50%;
    box-shadow: 0px 10px 20px var(--Black);
    }
  

article{
  float: left;
  display: grid;
  background-color: var(--White);
  border-radius: 25%;
  width: 300px;
  height: 300px;
}
 

  article p h2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

  }


form{
  display: grid;
  float: right;
  align-items: center;
  border-radius: 25%;
  width: 300px;
  height: 300px;
  background-color: var(--White);
  text-align: center;
  overflow: auto;
}

form label{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

 label .button{
    display: flex;
    flex-direction: column;
  }

  .column{
    /* display: block; */
    float: left;
    width: 300px;
    padding: 15px;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

 

  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }




