/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --Black: black;
  --Grey: grey;
  --Dgrey: rgb(72, 72, 72);
  --Lgray: lightgrey;
  --White: white;
  --Blue: blue;
  --Dblue: darkblue;



}
body{
  background-color: var(--Dgrey);
  text-align: justify;
}

header{
  background-color: var(--Black);
  color: var(--White);
  text-align: center;
  padding-top: 5px;

  nav{
  


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: var(--Dblue);
      
  
  li {
    float: left;
  
  
   a {
    display: block;
    color: var(--White);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}
  }
  
  li a:hover{
    background-color: #111;
  }
  }
  /* nav, a{
    display: inline-block;
    text-align: center;
    background-color: var(--Dblue);
    color: var(--White);
    text-decoration: none;
    padding: none;
    width: 100%;
    box-shadow: 10px;
    

    ul, li{
      display: inline-block;
      text-align: center;
      padding: 10px;
    }
    
    
  } */

}

/* figcaption{
  padding-top: 15px;
}

img{
  background-image: url("/Images/PFPIzumi.png");
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 20px var(--Black);
  
}

img:hover{
  background-image: url("/Images/Me.jpg");

} */



main{
  background-color: var(--Lgray);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  

  figcaption{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  
  .container{
    position: relative;
  
   }
  
   .image{
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 20px var(--Black);
   }
   
   
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
    }
   
    .container:hover .overlay {
      opacity: 1;
    }
  
    .image_2{
      display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 20px var(--Black);
    }
  }

  article{
    background-color: var(--White);
    position: relative;
    left: auto;
    width: 200px;
    height: 400px;
    padding: 0;
    margin: 0;
  


  }

  form{
    display: flex;
    flex-direction: column;
    position: right;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: var(--White);

     label{
      color: var(--Black)
     }
  }

  footer{
    display: flex;
  }
}

